/* script created by thetalkingcat8089*/

:root {
  --crosshair: url(enter crosshair url here) 
}

.aim {
  visibility: hidden !important;
}
.aim:after {
  visibility: visible !important;
  content: var(--crosshair) !important;
  position: fixed;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
}
